@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #F3C92D;
    /* --primary-color-opacity: rgba(243, 201, 45, 0.8); */
    --secondary-color: #34d399;

    --primary-color-gradient: linear-gradient(to right, rgba(243, 201, 45, 0.4), #D9A827);
    --custom-gradient: linear-gradient(to right, 
        #171717 0%, 
        #323335 0%, 
        #5A5A5A 49%, 
        #171717 100%);    

    --fonte-primaria: 'DM Sans', sans-serif;
    --fonte-secundaria: 'Bruno Ace', 'DM Sans', sans-serif;
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: var(--fonte-primaria);
        color: white;
    }
}
